body, html{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    
    text-align: center;
}


.is-vertical-center {
  display: flex;
  align-items: center;
}


.container{
    display: flex;
    align-items: center;
    height:100%;
    width:100%;
    margin: 0;
    padding: 0;
}


.content{
    margin: auto;
    position: relative;
}

.content > * {
    margin: 1em;
}

.subtitle.frontpage{
    list-style-type: none;
    
    width: 100%;
    margin-left: 0;
}

.subtitle.frontpage li{
    display: inline;
}

.separator{
    position: absolute;
    left: 50%;
    top: 0;
    bottom: 0;
    border-left: 1px solid grey;
}

.firstname{
    float: left;
}

.firstname > .subtitle{
    float: right;
}

.lastname{
    float: right;
}

.lastname > .subtitle{
    float: left;
}



a{
    position: relative;
    text-decoration: none;
}


a:after{
    content: "";
    position: absolute;
    width: 0%;
    height: 1px;
    bottom: -2px;
    left: 0;
    background: #000;
    
    -webkit-transform: 0.35s;
    transform: 0.35s;
    
    -webkit-transition: 0.35s;
    transition: 0.35s;
}

a:hover:after{ 
    width: 100%;
}