@font-face{
    font-family: "Quicksand";
    src: url("fonts/Quicksand-Regular.ttf");
    src: url("fonts/Quicksand-Regular.otf") format("otf");
}

.name{
    pointer-events:none;
}

body{
    font-family: "Quicksand", "Sans-Serif";
    font-weight: normal;
    font-style: normal;
    position: absolute;
    top: 50%;
    left: 50%;
    margin:-90px 0 0 -90px;
}

.arrow{
    display:inline-block;
    position:relative;
    margin-left:7px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 0 5px 8.66px;
    border-color: transparent transparent transparent #a9a9a9;
    opacity:0;
    transition: all 0.5s ease;
}

ul{
    width:auto;
    margin:0;
    padding:0;
    list-style: none;
    width: 50px;
}

ul li {
    position:relative;
}

ul li:hover .arrow{
    opacity:1;
}

#about-inner:hover a{
    opacity:1;
}


li ul {
    position:absolute;
    left:135px;
    top:0;
    display:none;
    border-bottom: 0px;
    opacity:0px;
}

#about-inner a{
    width:auto;
    display:block;
    text-decoration:none;
    color:#000;
    background:#fff;
    padding: 0px;
    border-bottom:0;
    text-align:left;
    transition: color 0.25s ease-in;
}

#about-inner a:hover{
    color: #ffdead;
}

#about-inner a.hovertext:after{
    content:"";
}

ul {
    margin:0;
    padding:0;
    list-style:none;
    width:auto;
    text-align:center;
}

li:hover ul {display:block;}

li:hover ul, li.over ul { display: block; }

* html ul li {float: left;}
* html ul li a {height: 1%;}