@font-face{
    font-family: "Quicksand";
    src: url("../fonts/Quicksand-Regular.eot");
    src: url("../fonts/Quicksand-Regular.ttf") format("truetype"),
        url("../fonts/Quicksand-Regular.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Quicksand-Regular.woff") format("woff"),
        url("../fonts/Quicksand-Regular.woff2") format("woff2"),
        url("../fonts/Quicksand-Regular.svg#svgFontName") format("svg");
}

body{
    font-family: "Quicksand", "Sans-Serif";
    background: url("../img/anime1.png") no-repeat 0px 0px;
    background-size: cover;
    background-attachment: fixed;
    pointer-events:none;
    overflow-x: hidden;
}

/* Generic styling rules */
.box{
    background-color:rgba(240,248,255,0.9);
    
    border: 1.5px solid blue;
    border-radius: 8px;
    
    padding-top: 2.5%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 2.5%;
}

.content{
    position:absolute;
    top:0;
    right:0;
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;
}

.main{
    margin-top:30px;
    display: inline-block;
}

.link{
    pointer-events:auto;
    color:black;
}

.proj-name{
    padding-top:2%;
}

.project{
    margin-top:2%;
    margin-left:2%;
    padding-left:2.5%;
    padding-bottom:2.5%;
    border-left: 2px solid rgba(150,150,150,0.8);
    border-bottom: 2px solid rgba(150,150,150,0.8);
}

.title{
    text-align: center;
}

.topic-title{
    padding-bottom: 3%;
    border-bottom: 2px solid rgba(150,150,150,0.8);
}

.right{
    float:right;
}

.left{
    float:left;
}

/* Individual box stylings */

#github-projs{
    max-width:50%;
}

#com-contribs{
    max-width:28%;
    min-width:150px;
    vertical-align: top;
}

#competitions{
    max-width:28%;
    min-width:150px;
    vertical-align: top;
}













