@font-face{
    font-family: "Quicksand";
    src: url("../fonts/Quicksand-Regular.eot");
    src: url("../fonts/Quicksand-Regular.ttf") format("truetype"),
        url("../fonts/Quicksand-Regular.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Quicksand-Regular.woff") format("woff"),
        url("../fonts/Quicksand-Regular.woff2") format("woff2"),
        url("../fonts/Quicksand-Regular.svg#svgFontName") format("svg");
}

body{
    font-family: "Quicksand", "Sans-Serif";
    font-weight: normal;
    font-style: normal;
    pointer-events:none;
}

header{
    text-align: center;
}

.link{
    pointer-events:auto;
    color:black;
}

.content{
    margin-left: 20%;
    margin-right: 20%;
}

.push{
    height:50px;
}

.site-footer{
    position:fixed;
    background-color:white;
    left:0;
    bottom:0;
    width:100%;
    text-align: center;
    padding-bottom:2%;
}