@font-face{
    font-family: "Quicksand";
    src: url("../fonts/Quicksand-Regular.ttf");
    src: url("../fonts/Quicksand-Regular.otf") format("otf");
}

body{
    font-family: "Quicksand", "Arial", "Sans-Serif";
    font-weight: normal;
    font-style: normal;
    pointer-events:none;
}

header{
    text-align: center;
}

.link{
    pointer-events:auto;
    color:black;
}

.content{
    padding-left: 20%;
    padding-right: 20%;
}