@font-face{
    font-family: "Quicksand";
    src: url("../fonts/Quicksand-Regular.ttf");
    src: url("../fonts/Quicksand-Regular.otf") format("otf");
}

body{
    font-family: "Sans-Serif";
    font-weight: normal;
    font-style: normal;
    pointer-events:none;
}

header{
    text-align: center;
}

.link{
    pointer-events:auto;
    color:black;
}

.content{
    margin-left: 20%;
    margin-right: 20%;
}

.push{
    height:50px;
}

.site-footer{
    position:fixed;
    background-color:white;
    left:0;
    bottom:0;
    width:100%;
    text-align: center;
    padding-bottom:2%;
}